<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>kubernetes_esp</username>
      <password>secret</password>
      <id>releases</id>
    </server>
    <server>
      <username>kubernetes_esp</username>
      <password>secret</password>
      <id>snapshots</id>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>lsy</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>releases</id>
          <name>libs-release</name>
          <url>http://vmh-aiapd-testenv.lic.fra.dlh.de/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://vmh-aiapd-testenv.lic.fra.dlh.de/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>releases</id>
          <name>plugins-release</name>
          <url>http://vmh-aiapd-testenv.lic.fra.dlh.de/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://vmh-aiapd-testenv.lic.fra.dlh.de/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>lsy</activeProfile>
  </activeProfiles>
</settings>
